---
  # Decide if you want to use Let's Encrypt production or staging servers to get your cert (stage is best for testing)
  use_staging: true
  # Note that DNS is not managed by this playbook, so must be managed separately.

  cert_org: my-org
  cert_country: GB
  f5xc_token: my_token
  f5xc_api: https://<my tenant>.console.ves.volterra.io/api
  f5xc_namespace: my-namespace
  lets_encrypt_email: my-email@example.com
  
  # Do not need to change below, it is used to automatically name objects based on cn.
  f5xc_object_prefix: "{{ ( cert_cn ) | replace('.','-') }}"

...